#view-note {
  border: solid silver 2px;
  width: 100%;
  height: 100%;
}

#view-note p {
  width: 100%;
  height: 100%;
  background-color: rgb(18, 32, 18);
  color: white;
  overflow-y: hidden;
  padding: 2%;
}
