#main-div button {
  margin-left: 48%;
}

#notelist {
  border: solid silver 2px;
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  height: 400px;
  display: flex;
  justify-content: flex-start;
}

#notelist-notes {
  width: 17%;
  height: auto;
  overflow-x: hidden;
}

#view-note1 {
  width: 83%;
  height: 100%;
}
